@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


:root{
  --main-color : #7800FF;
  --gradient-main-color1 : #cc5333;
  --gradient-main-color2 : #23074d;
}
*{
  
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	font-family: 'Times New Roman', Times, san-serif;
}

.navbar{
  background-color:#7800FF;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.logo-div{
  font-weight: 900;
  color: black;
  margin: 1rem;
  font-size: 2rem;
  border-radius: 10%;
  width: 45px;
  font-family: 'Open Sans', sans-serif;
  height: 45px;
  text-align: center;
  border: 3px solid black;
}
.menu-list{
  margin-bottom: 0.5rem;
}

.menu-item{
  display: inline;
  margin-left: 1.5rem;
 
  
  
}

.menu-link{
  text-decoration: none;
  color:black;
  font-size: 1rem;
}
.main-section{
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.section-container{
  padding: 0.5rem;
  width: 30rem;
  border-radius: 5px;
  border: thin solid var(--main-color);
}
.section-container hr{
  margin: auto;
  border: none;
  height: 2.5px;
  background-color: var(--main-color);
}
.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}
.content img{
  
  height: 120px;
  width: 120px;
  border:thin solid var(--main-color);
  border-radius: 50%;
}

.heading{
   color: var(--main-color);
   font-size: 2rem;
}
.text{
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 50;

}
.focus-keys{
  color: var(--main-color);
  font-family: 'Open Sans', sans-serif;
  font-weight: 50;
}



@media only screen and (max-width: 555px) {





}
